@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top {
    background-color: #fb4e71;
    height: 180px;
    width: 400px;
    padding: 10px;
}

.head {
    font-size: 25px;
    color: #ffffff;
}

.para {
    color: #ffffff;
    font-size: 15px;
}

.bottom {
    background-color: #e6f6ff;
    height: 450px;
    width: 400px;
    padding: 10px;
}

.heading {
    font-size: 20px;
    color: #323f4b;
    font-weight: bold;
}

.team {
    font-size: 15px;
    color: #323f4b;
    padding-left: 5px;
}

.paragraph {
    color: #888888;
    font-size: 18px;
    padding-left: 5px;
}

.bg {
    background-color: #ffffff;
    height: 130px;
    border-radius: 7px;
}

.text {
    font-size: 15px;
    color: #323f4b;
}

.button {
    text-align: center;
    border-width: 0px;
}