.bg-image {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    height: 100vh;
    background-size: cover;
    width: 340px;
    align-items: center;
    font-family: cursive;
}

.card {
    height: 150px;
    width: 300px;
    background-color: #000000e6;
    padding: 18px;

}

.head {
    font-size: 22px;
    color: #ffffff;
}

.para {
    font-size: 14px;
    color: #ffffff;
}

.number {
    font-size: 20px;
    color: #ffffff;
    text-align: start;
}

.button {
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    height: 30px;
    width: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}